@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.app {
  width: 1000px;
  margin: auto;

  font-family: 'Inter', sans-serif;

  @media (max-width: 420px) {
    margin-top: 0;
    width: 420px;
    padding: 10px;
  }
}

.ant-tabs-nav {
  width: 200px;
  align-self: center;
}
