.movie-list-item {
  .ant-card-body {
    padding: 12px 20px 5px 20px;
  }

  .ant-typography {
    margin: 0;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__rate {
    display: flex;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  &__title {
    font-size: 20px;
  }

  &__date {
    display: block;
    margin-bottom: 7px;
  }

  &__genres {
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  &__descr {
    display: block;
    height: auto;
    overflow: hidden;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
  }
}

h5 {
  .ant-typography {
    font-size: 20px;
  }
}

.ant-card-loading-content {
  width: 240px;
}
